/* Formation OpenClassrooms - Projet 2 - Développeur Web - Thierry Laval */

/* A la question de pourquoi avoir utiliser des unités de mesures en vw, em... J'ai pris reference sur le css3 et voulu tester l'ensemble. Je suis conscient qu'en tant normal je peux ecrire le code plus simplement. Ref:https://outils-css.aliasdmc.fr/unites-de-longueurs-css.php*/

/* Je me suis servi du module des boîtes flexibles, aussi appelé « flexbox », a été conçu comme un modèle de disposition unidimensionnel et comme une méthode permettant de distribuer l'espace entre des objets d'une interface ainsi que de les aligner. Ref:https://developer.mozilla.org/fr/docs/Web/CSS/CSS_Flexible_Box_Layout/Concepts_de_base_flexbox*/

/*fonts*/

@font-face {
    font-family: "caviar_dreamsregular";
    src: url("../font/CaviarDreams-webfont.eot");
    src: url("../font/CaviarDreams-webfont.eot?#iefix") format("embedded-opentype"),
        url("../font/CaviarDreams-webfont.woff") format("woff"),
        url("../font/CaviarDreams-webfont.ttf") format("truetype"),
        url("../font/CaviarDreams-webfont.svg#caviar_dreamsregular") format("svg");
}

@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('../font/Caviar_Dreams_Bold-webfont.eot');
    src: url('../font/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/Caviar_Dreams_Bold-webfont.woff') format('woff'),
        url('../font/Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
        url('../font/Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
}

/*BODY*/

body {
    background-color: #e6e6e6;
}

.container {
    max-width: 80%;
}

img {
    border-radius: 50%;
    border: 2px #000000 solid;
}
{
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 4px solid #FFFFFF;
    width: 216px;
    /*dimensions exactes de l'image = maquette*/
    height: 216px;
    /*dimensions exactes de l'image = maquette*/
}

header div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh;
}

/*HEADER TITLE*/

header div:nth-child(2) {
    font-family: "caviar_dreamsregular";
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
}

header h1 {
    font-size: 3em;
    line-height: 2px;
    text-transform: uppercase;
    height: 8vh;
    display: flex;
    align-items: center;
    margin: 0;
}

header h1 span {
    color: #01C0F4;
    padding-right: 1vw;
    padding-top: 0.5vh;
    font-family: "caviar_dreamsbold";
    height: 8vh;
    display: flex;
    align-items: center;
}

header h3 {
    font-family: arial, sans-serif;
    font-size: 1em;
    margin-bottom: 0;
}

header h3 span {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    -webkit-text-decoration-style: solid;
    text-decoration-style: solid;
    -webkit-text-decoration-color: #00BFF4;
    text-decoration-color: #00BFF4;
    font-size: 1em;
}

.col-lg-3,
.col-lg-9 {
    padding: 0;
}

.col-lg-3 {
    background-color: #00BFF4;
}

.col-lg-9 {
    background-color: #FFFFFF;
}

/*CONTACT*/

ul {
    list-style-type: none;
    font-size: 0.9em;
    padding: 2vw 0 2vh 2vw;
}

li {
    padding-bottom: 0.8em;
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

li p {
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: black;
}

.bandeau {

    background-color: #FFFFFF;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    height: 6vh;
    color: #00BFF4;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "caviar_dreamsbold";
    font-size: 1.2em;
    margin: 0;
}

.aboutme p {
    line-height: 1em;
    font-size: 0.9em;
    text-align: left;
    margin: 50px 35px 50px 35px;
    font-family: arial, sans-serif;
}

/*PARCOURS - TITRES ET ICONES*/

.titles {
    border-bottom: 2px solid;
    border-bottom-color: #000000;
    font-family: "caviar_dreamsregular";
    text-transform: uppercase;
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    height: 6vh;
}

.titles h3 {
    font-size: 1.3em;
    font-family: "caviar_dreamsbold";
    padding: 0;
    margin: 0;
}

.titles .fas {
    font-size: 2em;
    color: #00BFF4;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

/*FORMATION - EXPERIENCE Titres*/

main article,
footer .col-lg-9 {
    padding: 0 5vw 0 5vw;
}

/*PARCOURS - Formation*/

main article section {
    display: flex;
}

main article section i {
    margin-right: 1vw;
}

/*PARCOURS DATES*/
main article section div:nth-child(2) {
    margin-right: 4vw;
    font-size: 0.7em;
    min-width: 7vw;
}

main article section h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: "caviar_dreamsbold";
    line-height: 0.8em;
}

main article section h3 {
    font-size: 0.9em;
    text-transform: uppercase;
    font-family: "caviar_dreamsregular";
}

main article section p {
    font-size: 0.8em;
    padding-bottom: 3vh;
}

/*FOOTER*/

footer {
    height: 40vh;
}

/*LOISIRS*/

footer .col-lg-3 {
    padding-top: 20vh;
}

/*LOISIRS .FAS*/

footer .col-lg-3 i {
    font-size: 2em;
    border: 2px white solid;
    padding: 10px;
    border-radius: 50%;
    color: white;
}

footer .col-lg-3 div {
    display: flex;
    justify-content: space-around;
    margin: 2vh;
}

footer section {
    display: flex;
    justify-content: space-between;
}

footer section div {
    width: 50%;
}

footer section h2 {
    font-size: 1.1em;
    margin-bottom: 3vh;
}

footer section p,
footer section a {
    font-size: 0.8em;
    line-height: 0.4em;
}

footer .col-lg-9 {
    padding-top: 5vh;
}

/*RESPONSIVE VERSION*/

@media (max-width: 767px) {

    .container {
        max-width: 100%;
    }

    header {
        background-color: #00BFF4;
        justify-content: center;
        align-items: center;
    }

    header div:first-child {
        max-width: 60%;
    }

    header h1 {
        font-size: 2em;
        justify-content: center;
    }

    header div:nth-child(2) {
        padding: 0;
        background-color: #00BFF4;
    }

    header h1 span {
        color: #000000;
        font-family: "caviar_dreamsregular";
        padding-top: 0;
    }

    header h3 {
        font-size: 0.9em;
        display: flex;
        justify-content: center;
        padding-bottom: 5vh;
    }

    aside {
        display: flex;
        flex-direction: column;
    }

    main .col-lg-3 section:first-child {
        order: 2;
    }

    .aboutme {
        order: 1;
        padding-bottom: 5vh;
    }

    .aboutme p {
        text-justify: none;
    }

    ul {
        text-align: center;
        font-size: 1em;
        padding-bottom: 0;
        margin-bottom: 0;
        font-weight: 600;
    }

    li strong,
    li:nth-child(5) {
        display: none;
    }

    .bandeau {
        height: 8vh;
    }

    .titles {
        background-color: #FFFFFF;
        border-top: 3px solid #000000;
        border-bottom: 3px solid #000000;
        height: 9vh;
        color: #00BFF4;
        font-size: 0.8em;
        margin-top: 4vh;
    }

    .titles h3 {
        align-items: center;
        justify-content: center;
    }

    .titles .fas {
        margin-left: 4vw;
    }

    .titles i {
        justify-content: flex-start;
    }

    main article {
        padding: 0;
    }

    /*PARCOURS - Formation*/

    main article section {
        display: flex;
        flex-wrap: wrap;
        padding: 2vh 2vw 0 2vw;
        border: 1px rgba(0, 0, 0, 0.35) solid;
        margin: 2vh;
    }

    main article section i {
        width: 6vw;
    }

    /*PARCOURS DATES*/
    main article section div:nth-child(2) {
        font-size: 0.7em;
        margin-bottom: 5vh;
    }

    main article section p {
        padding-bottom: 0;
    }

    main article section h2 {
        line-height: 1em;
    }

    main article:last-child section:last-child {
        margin-bottom: 5vh;
    }

    footer div:first-child {
        padding-top: 0;
    }

    footer {
        height: 20vh;
    }

    footer div:first-child div {
        margin-top: 2.5vh;
    }

    footer div:nth-child(2) div {
        display: none
    }

    footer .col-lg-9 {
        padding: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .container {
        max-width: 100%;
    }

    .bandeau {
        height: 4vh;
    }

    img {
        min-height: 10vh;
        min-width: 10vh;
    }

    header {
        max-height: 45vh;
    }

    header h1 {
        height: 3vh;
        margin-bottom: 1vh;
    }

    .titles {
        margin-bottom: 1vh;
        height: 6vh;
    }

    ul {
        font-size: 1.1em;
    }

    .aboutme p {
        font-size: 1.1em;
        text-align: left;
    }

    /*PARCOURS - Formation*/

    main article section {
        display: flex;
        flex-wrap: wrap;
        padding: 1vh 2vw 0 2vw;
        border: 1px rgba(0, 0, 0, 0.35) solid;
        margin: 2vh;
    }

    main article section i {
        width: 2vw;
        padding-top: 1vh;
    }

    /*PARCOURS DATES*/

    main article section div:nth-child(2) {
        font-size: 1em;
        margin-bottom: 3vh;
    }

    main article section p {
        padding-bottom: 0;
        font-size: 1.2em;
    }

    main article section h2 {
        line-height: 1em;
    }

    main article:last-child section:last-child {
        margin-bottom: 3vh;
    }

    footer {
        height: 30vh;
    }

    footer section p,
    footer section a {
        font-size: 1.1em;
    }

    footer section {
        margin-top: 4vh;
    }

    footer .col-lg-9 {
        padding-top: 0;
    }

    footer .col-lg-3 {
        padding-top: 5vh;
    }
}

/*Rajout pour rendre la googlemap responsive*/

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    padding-right: 27px;
}

iframe {
    border-width: 0px;
}

/*Rajout de l'effet parallax*/

.img1 {
    height: 100px;
    background-attachment: fixed;
    background-size: ;
    background-position: 0 center;
}

.img1 {
    background-image: url(https://github.com/thierry-laval/cv/blob/master/image/image-du-parallax.jpeg?raw=true);
}
